*{
    padding: 0;
    margin: 0;
}

:root{
    --height-gameboy: 750px;
    --width-gameboy: 475px;
    --color-gameboy: #9b85e6;
}

.flex-cv{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

/* Estilos Consola*/
.consola {
    height: var(--height-gameboy);
    width: var(--width-gameboy);
    background: var(--color-gameboy);
    margin: 20px ;
    border:black solid 3px;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

/*Estilos Pantalla*/
.marco-pantalla {
    margin: 25px 30px 15px 25px;
    height:390px;
    width: 420px;
    background: black;
    border:black solid 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.pantalla {
    font-family: "ComicSansMS";
    height: 320px;
    width: 330px;
    background: grey;
    border-radius: 10px;
    border:black solid 1px;
    margin: 30px auto auto auto;
}


.mb-image{
    width: 100%;
    height: 100%;
}

.gameboyContainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.gameboy {
    font-style: italic;
    font-size: 2em;
    color: grey;
    margin-right: 20px;
}

.gb-color {
    font-family: "ComicSansMS";
    font-size: 2em;
    font-weight: bold;
}

#let-c{
    color: #830f2e;
}

#let-o{
    color: #3d3d83;
}

#let-l{
    color:#599c21;
}

#let-O{
    color: #9b752f;
}

#let-r{
    color:#08507e;
}

/*Estilos Logo Nintendo*/
.nintendo {
    font-family: "ComicSansMS";
    height: 25px;
    width: 130px;
    font-size: 1.5em;
    text-align: center;
    color: #2e2745;
    border: #2e2745 solid 3px;
    border-radius: 250px;
}